<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}<h1> Bonjour </h1>
        
        
        <a href="{{ path('app_inscription_dev') }}">Inscrition en dev</a>
        <a href="{{ path('app_inscription_entreprise') }}">Inscrition en entreprise</a>



        
        {% endblock %}
    </body>
</html>
